#header {
  height: var(--header-2-height);
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: var(--border-solid);
  background-color: var(--color-content-sub);
}

#header button:nth-child(2) {
  margin-left: auto;
}

.menu-btn svg {
  width: var(--svg-l);
  height: var(--svg-l);
  color: var(--c-2-primary);
}

.menu-btn:hover svg {
  transform: rotate(90deg);
}
